.MainStyle {
    background: url("./../../images/login.png");
    background-size: 100% 100%;
    text-align: center;
    position:absolute;
    top:0px;
    right:0px;
    bottom:0px;
    left:0px;
}
.button {
    position: absolute;
    top: 50%;
}
.errorMessage {
    text-align: center;
    margin-top: 38%;
    margin-left: 8%;
    color: red;
}